.about .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about .wrapper .description {
    padding: 0 100px;
   
}

.photo {
    position: relative;

    width: 600px;
    height: 600px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    h2{

        margin: 0;
        text-align: left;
    }

}

.photo-media {
    max-width: 500px;
    max-height: 500px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.text-circle{
    position: absolute;
    width: 100%;
    height: 100%;
    animation: rotateText 10s linear infinite;

    
}

@keyframes rotateText
{
    0%
    {
        transform: rotate(360deg);
    }

    110%
    {
        transform: rotate(0deg);
    }
}

.text-circle span{
   
    position: absolute;
    left: 50%;

    transform-origin: 0 300px;

    
}

.cards-infos {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 55px 0;

    .card-info {
        margin-bottom: 100px;
        padding: 10px 80px;
        border-radius: 50px;

        p {
            margin: 0;
            margin-bottom: 35px;
        }
    }

    .card-info-content {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .left {
            text-align: left;
        }

        .right {
            text-align: right;
        }
    }

    .card-info-right {
        grid-column-start: 3;
        grid-column-end: 13;
        box-shadow: 38px -38px 0 var(--color-bg-secondary);
    }

    .card-info-left {
        grid-column-start: 1;
        grid-column-end: 11;
        box-shadow: -38px -38px 0 var(--color-bg-secondary);
    }
}

.card-info {
    background-color: var(--color-bg-primary);
}

.icons-sociaux {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
