

.hero .wrapper {
    margin-top: 100px;
    padding: 100px;
    height: 800px;
    margin-bottom: 100px;

    h1 .left,
    h1 .right {
        -webkit-text-stroke: 8px var(--color-primary);

        paint-order: stroke fill;

        -webkit-font-smoothing: antialiased;
        background: linear-gradient(
            var(--color-gradient1),
            #770128,
            var(--color-gradient2)
        );
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        
    }
    h1 .left {
        text-align: left;
    }

    h1 .right {
        text-align: right;
    }
}

.hero-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;

    .button {
        margin: auto;
    }
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;


    .icon {
        height: 150px;
        width: 150px;
        animation: bouncing 1s ease-in-out infinite;
    }
}

@keyframes bouncing {
    0% {
        transform: translateY(-30px);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-30px);
    }
}
