.cards-modale{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 200px;

    @media screen and (max-width: $breakpoint-sm) {
        
        display: flex;
        flex-direction: column;

        }
}

.card-modale{
    text-align: center;
    cursor: pointer;
    max-height: 300px;
    max-width: 300px;
    
    .card-media{
        position: relative;
        border-radius: 25px;

        height: 100%;
        width: 100%;

        

        img{
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .card-hover{
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: var(--color-hover-modale);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: all 0.2s ease-in;
      
        span{

                background-color: var(--color-primary);
                border-radius: 20px;
                height: 20px;
                width: 100px;
                position: absolute;

                    
                }
                
        span.plus-vertical{
            transform: rotate(90deg);
            }
        
    }




    &:hover{
        .card-hover{
            opacity: 1;
        }
    }

    @media screen and (max-width: $breakpoint-sm) {
        max-height: 700px;
        max-width: 700px;
        .card-hover{
            opacity: 1;
        }
        
        }
    
}

.modale-window{


    overflow: hidden;
    border-radius: 25px;
    border: 5px solid var(--color-bg-primary);
    cursor: pointer;
    padding: 0;


    .modale-media{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;

        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    @media screen and (max-width: $breakpoint-sm) {
        height: 80%;
        width: 90%;
        }
    
}