/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;
    

    // Couleurs du projet
    --color-primary: #CFEEFF;
    --color-link: #F86893;
    --color-bg-primary: #75002F;
    --color-bg-secondary: #BD024D;
    --color-bg-website: #00237D;
    --color-gradient1: #BD024D;
    --color-gradient2: #4F0013;
    --color-hover-modale:rgba(117, 0, 47, 0.7);

    --color-fail: #d12c2c;
}
