/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #cfeeff;
    --color-link: #ff5151;
    --color-bg-primary: #75002f;
    --color-bg-secondary: #bd024d;
    --color-bg-website: #021740;
    --color-gradient1: #ff0066;
    --color-gradient2: #bd002c;
    --color-hover-modale: rgba(117, 0, 47, 0.7);

    --color-fail: #d12c2c;
}
