{% include "_partials/_header.html" %}

<section class="project-hero">
    <div class="wrapper">

        <div class="project-details">

            <div class="card-info">
                <div class="info-content">
                    <h2>Baie Ste-Catherine</h2>
                    <p>Projet scolaire</p>
                    <p>Intégration Web</p>
                </div>
                
                <div class="info-icons">

                    <div class="info-icon">
                        <svg class="icon">
                            <use xlink:href="#icon-html5"></use>
                        </svg>
                    </div>

                    <div class="info-icon">

                        <div class="info-icon">
                        <svg class="icon">
                            <use xlink:href="#icon-css"></use>
                        </svg>
                    </div>

                    </div>
                        <svg class="icon">
                            <use xlink:href="#icon-javascript"></use>
                        </svg>
                    </div>
                </div>


                

            </div>

            <a class="button">Visiter le site</a>

        </div>

        <div class="demoreel"> <img src="assets/images/projet1.png"> </div>

    </div>
</section>

<section class="project-details">

    <div class="main-category">
        <h2>Résumé</h2>
        <p>Le but principal de ce projet était de reproduire une maquette servant de refonte au site web de la ville de  Baie Ste-Catherine afin de mettre en pratique 
            la notion des composants Javascripts que nous avons appris à faire au cours de la session en créant par nous-même un composant supplémentaire</p>
    </div>


    <div class="cards-modale">

    </div>

    <div class="main-category">
        <h2>Processus</h2>
        <p>Le design et la maquette étaient fournis par les professeurs. J’ai donc commencé par intégrer et classer  les contenus en HTML. Ensuite j’ai appliqué les styles en CSS, j’ai alterné entre Javascript et CSS 
            pour intégrer correctement les composants demandés (Carousel, vidéo Youtube, Header) et j’ai fait le responsive pour m’assurer que tout restait visible peu importe la taille d’écran.</p>
    </div>

    <div class="sub-category">
        <h2>Un nouveau composant?</h2>
        <p>La plupart des composants utilisés dans le projets avaient été enseignés plus tôt dans la session pour nous permettre d’avoir du code réutilisable plus tard. Par contre, ce projet nous demandait 
            de coder un composant de notre choix par nous-même. J’ai décidé de faire un composant accordéon qui fait apparaitre la réponse à une question lorsqu’on clique dessus</p>
    </div>

    <div class="accordions"></div>

    <div class="sub-category">
        <h2>L'organisation de mon projet</h2>
        <p>Pour ce projet, j’ai adopté la méthode d’organisation de fichiers apprise à l’ATIM qui consiste à séparer les fichiers CSS dans différents dossiers selon leur fonction et à utiliser un fichier CSS pour chaque élément 
            important dans le projet, puis de les importer dans un fichier principal. J’utilise aussi les partials pour répéter les éléments qui sont présents dans toutes les pages (Header, Footer)</p>
    </div>

</section>



{% include "_partials/_footer.html" %}