{% include "_partials/_header.html" %}

<section class="hero" id="hero">
    <div class="wrapper">
<h1>
    <div class="left">Antoine</div>

    <div class="right">Samson</div>
</h1>

<h2>Développeur web junior</h2>

<p>Je suis un étudiant bientôt diplômé en intégration multimédia 
    et je recherche un stage en intégration Web</p>

    <a class="button">
        Voir les projets
    </a>

</div>
</section>

<section class="infos" id="infos">
    <div class="wrapper">
        <div class="photo">
            <h2>Antoine Samson - Développeur web junior</h2>
             <!-- Insérer photo ici -->
        </div>

        <p>J’ai de bonnes compétences en HTML/CSS et l’entraide est une valeur importante pour moi, 
            ce qui fait que j’aime aider les gens à analyser leur projet, trouver le problème et le résoudre.
        </p>

        <div class="cards-infos">
            <div class="card-info">
                <h2>Mes compétences</h2>
                <div class="card-info-content">
                    <p>Intégration web</p>
                    <p>Développement web</p>
                    <p>Résolution de problèmes</p>
                    <p>Analyse logique</p>
                </div>
            </div>

            <div class="card-info">
                <h2>Logiciels et langages</h2>
                <div class="card-info-content">
                    <p>Visual Studio Code</p>
                    <p>HTML</p>
                    <p>Javascript</p>
                    <p>CSS</p>
                </div>
            </div>

            <div class="card-info">
                <h2>Mes qualités</h2>
                <div class="card-info-content">
                    <p>Empathique</p>
                    <p>Patient</p>
                    <p>Ouvert à la critique</p>
                    <p>Ouvert aux idées</p>
                </div>
            </div>

            <div class="card-info">
                <h2>Mes intérêts</h2>
                <div class="card-info-content">
                    <p>Les jeux-vidéo</p>
                    <p>L'art</p>
                    <p>La nourriture</p>
                    <p>Les mêmes</p>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="contact" id="contact">
    <div class="wrapper">
        <h2>Vous souhaitez me contacter?</h2>
        <h2>C'est par ici!</h2>
    </div>
</section>





{% include "_partials/_footer.html" %}