{% include "_partials/_header.html" %}

<section class="projects">

    <div class="wrapper">

    <h1>Mes projets</h1>

    <div class="cards-projects">

        <a class="card-project card-right" href="fiche-projet.html">

            <div class="card-media">
                <img src="./assets/images/projet1.png">
            </div>

            <div class="card-hover">
                <h2>Baie Ste-Catherine</h2>
                <h4>refonte de site web</h4>
                <p>Html, Css, Javascript</p>

                <div class="button hover-button">Voir le projet</div>
            </div>

        </a>

    </div>

    </div>
</section>




{% include "_partials/_footer.html" %}